.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 350px;
    gap: 20px;
}

.item {
    display: flex;
    width: 350px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: #fffffc;
}